body{
    text-align: center;
    background-color: rgb(197, 197, 220); 
    font-family: Arial, Helvetica, sans-serif;    

}
form{
    background-color: #e38bc9;
    max-width: 500px;

}
.container{
    padding: 10px;
    display: inline-block;
    text-decoration: solid;
}
.input-container{
    border: 15vh;
    border-color: rgb(221, 29, 58);
}